<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS Tool</title>
    <link rel="stylesheet" href={{ url_for('static', filename='foundation.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='app.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='foundation-icons.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='jquery.dynatable.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} />
    
  </head>
  <body>
      <style>
         p { margin: 0 !important; }
        </style>



{% include 'navigation.html' %}   



    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 cell">
          <h1>{{ title }}</h1>
        </div>
      </div>
        <div class="large-8 medium-8 cell">
            <table>
                <tr>
                    
                        <td valign="top">
                            <p>Aggressive Search uses an algorithm called Levenshtein Distance to find misspelled</p>
                            <p>accounts in the POS reports.  Finds up to 3 errors per account name.</p>
                            <p>You can find the reports in your operation's folder</p>
                            <p>Search your account list</p>                    
                            <form action="/aggsearch" id="aggSearchForm">
                                <label>CCO ID:</label>
                                <input name="email" type="text" placeholder="jleatham" autocorrect="off" autocapitalize="none" />
                                <input class="success button" type="submit" value="Search">
                            </form>
                        </td>
                
                </tr>
            </table>
        </div>

                


                


    
            

                
            
     
 


      <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 cell">
          <h5>Results:</h5>
          <!-- Grid Example -->

            <div class="large-8 medium-8 cell">
              <div id="display" class="primary callout">

                
              </div>
            </div>


      </div>





    </div>

    <script src={{ url_for('static', filename='vendor/jquery.js') }}></script>
    <script src={{ url_for('static', filename='vendor/what-input.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.js') }}></script>
    <script src={{ url_for('static', filename='app.js') }}></script>
    <script src={{ url_for('static', filename='jquery.dynatable.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.core.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.dropdownMenu.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.util.box.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.util.keyboard.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.util.nest.js') }}></script>
    <script>
        function getType (val) {
            if (typeof val === 'undefined') return 'undefined';
            if (typeof val === 'object' && !val) return 'null';
            return ({}).toString.call(val).match(/\s([a-zA-Z]+)/)[1].toLowerCase();
        }
    </script>

          <script>
                $(document).on('submit','form',function(event){ //looks for any form on page that is submitted
                    event.preventDefault(); // Stop form from submitting normally
                 
                    // Get some values from elements on the page:
                    var $form = $( this ); //loads all data from form into parent variable
                    var form_id = $form.attr('id'); //find the ID of the submitted form
                    console.log(form_id); //for testing
                    var email = $form.find( "input[name='email']" ).val(); //get the value of the email field
                    var url = $form.attr( "action" ); //for  flask to know what URL is associated with POST                
                    if (form_id == 'aggSearchForm'){
                        console.log(form_id)
                    }
                    if (form_id == 'aggSearchForm'){
                        console.log("This is the aggSearchForm function");
                        document.getElementById('display').innerHTML = "<p>Processing 1M+ lines of POS for errors, no need to stay on this page.</p><p>Results will be posted on reports page</p><p>If you find a misspelled account, add it to the account list to include in main report</p>";
                        $form.find( "input[name='account']" ).val(""); //remove the filed input on submit                        
                        $.ajax({
                            url: url,
                            data: {'function':form_id ,'email': email},
                            type: 'POST',
                            timeout: 1000000,
                            success: function(response){
                                filter_return_json_to_list(response,email)
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                console.log(textStatus);
                                document.getElementById('display').innerHTML = textStatus;
                            }
                    });                         
                    }

                return false; //not sure why this is needed, maybe saying if no ajax post then do nothing
            });

                </script>

                <script>
                        function filter_return_json_to_list(response,email){
                            var x = "";
                            for (var key in response){
                                if (key === "status"){
                                    x = response[key];
                                }
                                else if (response[key]["email"]===email){
                                    for (var account in response[key]["accounts"]){
                                        x += "<p>" + response[key]["accounts"][account] + "</p>";
                                    }
                                }
                            }
                            if (x != ''){
                                document.getElementById('display').innerHTML = x;
                            } else {
                                document.getElementById('display').innerHTML = "Could not find this CCO ID";
                            }
                                
                        }
                    </script>

  </body>
</html>
