<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='foundation.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='app.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='foundation-icons.css') }}>
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }} />
    
  </head>
  <body>




        {% include 'navigation.html' %}     
        




    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 cell">
          <h1>{{ title }}</h1>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-8 medium-8 cell">
          <div class="callout">
            <p>{{ description }} </p>
            <span>Updated: </span><h3><strong>{{ recent }}</strong></h3>
            <p>Find your Operation's report above</p>
            
            
          </div>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
      <div class="large-8 medium-8 cell">
        <video width="100%" height="100%"controls="true" poster={{ url_for('static', filename='media/vidpic.png') }}>
          <source src={{ url_for('static', filename='media/POS-tut2.mp4') }} type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </div>
    </div>

    <script src={{ url_for('static', filename='vendor/jquery.js') }}></script>
    <script src={{ url_for('static', filename='vendor/what-input.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.js') }}></script>
    <script src={{ url_for('static', filename='app.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.core.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.dropdownMenu.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.util.box.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.util.keyboard.js') }}></script>
    <script src={{ url_for('static', filename='vendor/foundation.util.nest.js') }}></script>
  </body>
</html>
