
<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Cisco POS</li>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#">Reports</a>
          <ul class="menu">        
        <li>
          <a href="/reports/Americas">Americas</a>
          <ul class="menu">

            <li>
                <a href="/reports/Americas/US_COMMERCIAL">US_COMMERCIAL</a>
                <ul class="menu">  

                  <li>       
                  <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA">COMMERCIAL_CENTRAL_AREA</a>
                  <ul class="menu">
                      <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA/Central_Select_Operation">Central_Select_Operation</a></li>
                      <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA/Central_Territory_Operation">Central_Territory_Operation</a></li>
                      <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA/Midwest_Select_Operation">Midwest_Select_Operation</a></li>
                  </ul>
                </li> 

                <li>       
                    <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA">COMMERCIAL_EAST_AREA</a>
                    <ul class="menu">
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/Colonial_Select_Operation">Colonial_Select_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/East_Territory_Operation">East_Territory_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/NORTHEAST_TERRITORY_OPERATION">NORTHEAST_TERRITORY_OPERATION</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/Tristate_Select_Operation">Tristate_Select_Operation</a></li>
                    </ul>
                  </li> 
  
                  <li>       
                      <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA">COMMERCIAL_SOUTH_AREA</a>
                      <ul class="menu">
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_West_Select_Operation">South_West_Select_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_East_Select_Operation">South_East_Select_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_Territory_Operation">South_Territory_Operation</a></li>
                      </ul>
                    </li> 
    
                    <li>       
                        <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA">COMMERCIAL_WEST_AREA</a>
                        <ul class="menu">
                            <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA/North_Coast_Select_Operation">North_Coast_Select_Operation</a></li>
                            <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA/Pacific_Coast_Select_Operation">Pacific_Coast_Select_Operation</a></li>
                            <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA/West_Area_Territory_Operation">West_Area_Territory_Operation</a></li> 
                        </ul>
                      </li> 
      
                            
                </ul>
              </li>

          </ul>
        </li>
        </ul>
        </li>
        <li>
            <a href="#">Tools</a>
            <ul class="menu">
                <li><a href="/amlist">AM Customer List Tool</a></li>
                <li><a href="/aggsearch">Aggressive Search Tool</a></li>
                <li><a href="/realtime">Real Time Search Tool</a></li>
            </ul>
        </li>        
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
      </ul>
    </div>
  </div>   





<!--
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
    
    <li class="name">
    </li>
    
    <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
    <ul class="left">
    <li class="has-dropdown"><a href="#">Item 1</a>
    <ul class="dropdown">
    <li><label>Level One</label></li>
    <li><a href="#">Sub-item 1</a></li>
    <li><a href="#">Sub-item 2</a></li>
    <li class="divider"></li>
    <li><a href="#">Sub-item 3</a></li>
    <li class="has-dropdown"><a href="#">Sub-item 4</a>
    <ul class="dropdown">
    <li><label>Level Two</label></li>
    <li class="has-dropdown"><a href="#">Sub-item 1</a>
    <ul class="dropdown">
    <li><label>Level Three</label></li>
    <li class="has-dropdown"><a href="#">Sub-item 1</a>
    <ul class="dropdown">
    <li><label>Level Four</label></li>
    <li><a href="#">Sub-item 1</a></li>
    </ul>
    </li>
    <li><a href="#">Sub-item 2</a></li>
    <li><a href="#">Sub-item 3</a></li>
    <li class="divider"></li>
    <li><a href="#">Sub-item 4</a></li>
    </ul>
    </li>
    <li><a href="#">Sub-item 2</a></li>
    <li><a href="#">Sub-item 3</a></li>
    <li><a href="#">Sub-item 4</a>
    </ul>
    </li>
    <li><a href="#">Sub-item 5</a></li>
    </ul>
    </li>
    <li class="divider"></li>
    </ul>
    
    <ul class="right">
    <li class="divider"></li>
    <li><a href="#">Item 2</a></li>
    </ul>
    </section>
    </nav>
  -->