
<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Cisco POS</li>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#">Reports</a>
          <ul class="menu">        
        <li>
          <a href="/reports/Americas">Americas</a>
          <ul class="menu">
            <li>
            <a href="/reports/Americas/CANADA">CANADA</a>
            <ul class="menu"> 

              <li>       
              <a href="/reports/Americas/CANADA/COMMERCIAL_CAN">COMMERCIAL_CAN</a>
              <ul class="menu">
                <li><a href="/reports/Americas/CANADA/COMMERCIAL_CAN/CENTRAL_CAN_COMMERCIAL_AREA">CENTRAL_CAN_COMMERCIAL_AREA</a></li>
                <li><a href="/reports/Americas/CANADA/COMMERCIAL_CAN/EAST_CAN_COMMERCIAL_AREA">EAST_CAN_COMMERCIAL_AREA</a></li>
                <li><a href="/reports/Americas/CANADA/COMMERCIAL_CAN/WEST_CAN_COMMERCIAL_AREA">WEST_CAN_COMMERCIAL_AREA</a></li>
              </ul>
            </li> 


            <li>       
                <a href="/reports/Americas/CANADA/MISC_CAN">MISC_CAN</a>
                <ul class="menu">
                  <li><a href="/reports/Americas/CANADA/MISC_CAN/CAN_MISC_AREA">CAN_MISC_AREA</a></li>
                </ul>
              </li> 


              <li>       
                  <a href="/reports/Americas/CANADA/PUBLIC_SECTOR_CAN">PUBLIC_SECTOR_CAN</a>
                  <ul class="menu">
                    <li><a href="/reports/Americas/CANADA/PUBLIC_SECTOR_CAN/PS_CAN_AREA">PS_CAN_AREA</a></li>
                  </ul>
                </li> 

            </ul>
          </li>
          <li>
            <a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT">GLOBAL_ENTERPRISE_SEGMENT</a>
            <ul class="menu">  

              <li>       
              <a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_IBM">GES_IBM</a>
              <ul class="menu">
                <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_IBM/GLL_P_IBM">GLL_P_IBM</a></li>
              </ul>
            </li> 

            <li>       
                <a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA">GES_MWA</a>
                <ul class="menu">
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/ATLANTIC_OPERATION">ATLANTIC_OPERATION</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_G_CATERPILLAR">GLL_G_CATERPILLAR</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_G_CUMMINS">GLL_G_CUMMINS</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_G_DOW_CHEMICAL">GLL_G_DOW_CHEMICAL</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_G_JOHNSON_CONTROLS">GLL_G_JOHNSON_CONTROLS</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_G_MEDTRONIC">GLL_G_MEDTRONIC</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_G_PROCTER_AND_GAMBLE">GLL_G_PROCTER_AND_GAMBLE</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_P_ACCENTURE">GLL_P_ACCENTURE</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_P_FORD">GLL_P_FORD</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_P_GM">GLL_P_GM</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_P_THOMSON_REUTERS">GLL_P_THOMSON_REUTERS</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/GLL_P_UNITED_HEALTH_GROUP">GLL_P_UNITED_HEALTH_GROUP</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/ILLINOIS_ENTERPRISE_OPERATION">ILLINOIS_ENTERPRISE_OPERATION</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/MICHIGAN-OHIO-INKY_ENTERPRISE_OPERATION">MICHIGAN-OHIO-INKY_ENTERPRISE_OPERATION</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/MINNESOTA-WISCONSIN_ENTERPRISE_OPERATION">MINNESOTA-WISCONSIN_ENTERPRISE_OPERATION</a></li>
                    <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_MWA/P_STATE_FARM_ENTERPRISE">P_STATE_FARM_ENTERPRISE</a></li>
                </ul>
              </li> 

              <li>       
                  <a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE">GES_NE</a>
                  <ul class="menu">
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_ADP">GLL_G_ADP</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_AIG">GLL_G_AIG</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_BLOOMBERG">GLL_G_BLOOMBERG</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_BNYM">GLL_G_BNYM</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_E_AND_Y">GLL_G_E_AND_Y</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_GOLDMAN_SACHS">GLL_G_GOLDMAN_SACHS</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_J_AND_J">GLL_G_J_AND_J</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_KPMG">GLL_G_KPMG</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_MARSH_AND_MCLENNAN">GLL_G_MARSH_AND_MCLENNAN</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_MERCK">GLL_G_MERCK</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_METLIFE">GLL_G_METLIFE</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_PFIZER">GLL_G_PFIZER</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_RBC">GLL_G_RBC</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_STATE_STREET">GLL_G_STATE_STREET</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_TD_BANK_GROUP">GLL_G_TD_BANK_GROUP</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_G_UNITED_TECH">GLL_G_UNITED_TECH</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_P_BOA">GLL_P_BOA</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_P_CITI">GLL_P_CITI</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_P_GE">GLL_P_GE</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_P_JPMC">GLL_P_JPMC</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/GLL_P_MORGAN_STANLEY">GLL_P_MORGAN_STANLEY</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/G_AETNA">G_AETNA</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/G_CIGNA">G_CIGNA</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/G_CVS">G_CVS</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/NEW_YORK_ENTERPRISE_OPERATION">NEW_YORK_ENTERPRISE_OPERATION</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/NORTHEAST_ENTERPRISE_OPERATION">NORTHEAST_ENTERPRISE_OPERATION</a></li>
                      <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_NE/TRISTATE_ENTERPRISE_OPERATION">TRISTATE_ENTERPRISE_OPERATION</a></li>
                  </ul>
                </li> 

                <li>       
                    <a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH">GES_SOUTH</a>
                    <ul class="menu">
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/CAROLINAS_OP">CAROLINAS_OP</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/FLORIDA_OPERATION">FLORIDA_OPERATION</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_COCA_COLA">GLL_G_COCA_COLA</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_DELL">GLL_G_DELL</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_DELOITTE">GLL_G_DELOITTE</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_HOME_DEPOT">GLL_G_HOME_DEPOT</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_NCR">GLL_G_NCR</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_PEPSI">GLL_G_PEPSI</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_PWC">GLL_G_PWC</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_G_SCHLUMBERGER">GLL_G_SCHLUMBERGER</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_P_CHEVRON">GLL_P_CHEVRON</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_P_EXXON">GLL_P_EXXON</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_P_FEDEX">GLL_P_FEDEX</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_P_WALMART">GLL_P_WALMART</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/GLL_P_WELLS_FARGO">GLL_P_WELLS_FARGO</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/G_BBANDT">G_BBANDT</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/G_FISERV">G_FISERV</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/G_HCA">G_HCA</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/G_USAA">G_USAA</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/RED_RIVER_OPERATION">RED_RIVER_OPERATION</a></li>
                        <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_SOUTH/TAG_OPERATION">TAG_OPERATION</a></li>
                    </ul>
                  </li> 

                  <li>       
                      <a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST">GES_WEST</a>
                      <ul class="menu">
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_ADOBE">GLL_G_ADOBE</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_BOEING">GLL_G_BOEING</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_EXPEDIA">GLL_G_EXPEDIA</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_HONEYWELL">GLL_G_HONEYWELL</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_MASTERCARD">GLL_G_MASTERCARD</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_NETAPP">GLL_G_NETAPP</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_VISA">GLL_G_VISA</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_G_WEST_CORP">GLL_G_WEST_CORP</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_P_AMEX">GLL_P_AMEX</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_P_INTEL">GLL_P_INTEL</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/GLL_P_ORACLE">GLL_P_ORACLE</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/MOUNTAIN-PLAINS_OPERATION">MOUNTAIN-PLAINS_OPERATION</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/OCEANSIDE_OPERATION">OCEANSIDE_OPERATION</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/P_CHI">P_CHI</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/P_KAISER">P_KAISER</a></li>
                          <li><a href="/reports/Americas/GLOBAL_ENTERPRISE_SEGMENT/GES_WEST/SUNRISE_OPERATION">SUNRISE_OPERATION</a></li>
                      </ul>
                    </li> 
                    

            </ul>
          </li>
          <li>
              <a href="/reports/Americas/LATIN_AMERICA">LATIN_AMERICA</a>
              <ul class="menu"> 

                <li>       
                <a href="/reports/Americas/LATIN_AMERICA/BRASIL">BRASIL</a>
                <ul class="menu">
                    <li><a href="/reports/Americas/LATIN_AMERICA/BRASIL/BRAZIL_COMMERCIAL">BRAZIL_COMMERCIAL</a></li>
                    <li><a href="/reports/Americas/LATIN_AMERICA/BRASIL/BRAZIL_ENTERPRISE">BRAZIL_ENTERPRISE</a></li>
                    <li><a href="/reports/Americas/LATIN_AMERICA/BRASIL/BRAZIL_PUBLIC_SECTOR">BRAZIL_PUBLIC_SECTOR</a></li>
                </ul>
              </li> 

              <li>       
                  <a href="/reports/Americas/LATIN_AMERICA/CANSAC">CANSAC</a>
                  <ul class="menu">
                      <li><a href="/reports/Americas/LATIN_AMERICA/CANSAC/CANSAC_COMMERCIAL">CANSAC_COMMERCIAL</a></li>
                      <li><a href="/reports/Americas/LATIN_AMERICA/CANSAC/CANSAC_ENTERPRISE">CANSAC_ENTERPRISE</a></li>
                      <li><a href="/reports/Americas/LATIN_AMERICA/CANSAC/CANSAC_PUBLIC_SECTOR">CANSAC_PUBLIC_SECTOR</a></li>
                      <li><a href="/reports/Americas/LATIN_AMERICA/CANSAC/CANSAC_SERVICE_PROVIDER">CANSAC_SERVICE_PROVIDER</a></li>
                  </ul>
                </li> 
  
                <li>       
                    <a href="/reports/Americas/LATIN_AMERICA/MCO">MCO</a>
                    <ul class="menu">
                        <li><a href="/reports/Americas/LATIN_AMERICA/MCO/ARGENTINA_P_U">ARGENTINA_P_U</a></li>
                        <li><a href="/reports/Americas/LATIN_AMERICA/MCO/CHILE1">CHILE1</a></li>
                        <li><a href="/reports/Americas/LATIN_AMERICA/MCO/COLOMBIA_">COLOMBIA_</a></li>
                    </ul>
                  </li> 
    
                  <li>       
                      <a href="/reports/Americas/LATIN_AMERICA/MEXICO-">MEXICO-</a>
                      <ul class="menu">
                          <li><a href="/reports/Americas/LATIN_AMERICA/MEXICO-/MEXICO_COMMERCIAL">MEXICO_COMMERCIAL</a></li>
                          <li><a href="/reports/Americas/LATIN_AMERICA/MEXICO-/MEXICO_ENTERPRISE">MEXICO_ENTERPRISE</a></li>
                          <li><a href="/reports/Americas/LATIN_AMERICA/MEXICO-/MEXICO_PUBLIC_SECTOR">MEXICO_PUBLIC_SECTOR</a></li>   
                      </ul>
                    </li> 
      
                          
              </ul>
            </li>
            <li>
                <a href="/reports/Americas/US_COMMERCIAL">US_COMMERCIAL</a>
                <ul class="menu">  

                  <li>       
                  <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA">COMMERCIAL_CENTRAL_AREA</a>
                  <ul class="menu">
                      <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA/Central_Select_Operation">Central_Select_Operation</a></li>
                      <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA/Central_Territory_Operation">Central_Territory_Operation</a></li>
                      <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_CENTRAL_AREA/Midwest_Select_Operation">Midwest_Select_Operation</a></li>
                  </ul>
                </li> 

                <li>       
                    <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA">COMMERCIAL_EAST_AREA</a>
                    <ul class="menu">
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/Colonial_Select_Operation">Colonial_Select_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/East_Territory_Operation">East_Territory_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/NORTHEAST_TERRITORY_OPERATION">NORTHEAST_TERRITORY_OPERATION</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_EAST_AREA/Tristate_Select_Operation">Tristate_Select_Operation</a></li>
                    </ul>
                  </li> 
  
                  <li>       
                      <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA">COMMERCIAL_SOUTH_AREA</a>
                      <ul class="menu">
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_West_Select_Operation">South_West_Select_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_East_Select_Operation">South_East_Select_Operation</a></li>
                        <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_SOUTH_AREA/South_Territory_Operation">South_Territory_Operation</a></li>
                      </ul>
                    </li> 
    
                    <li>       
                        <a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA">COMMERCIAL_WEST_AREA</a>
                        <ul class="menu">
                            <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA/North_Coast_Select_Operation">North_Coast_Select_Operation</a></li>
                            <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA/Pacific_Coast_Select_Operation">Pacific_Coast_Select_Operation</a></li>
                            <li><a href="/reports/Americas/US_COMMERCIAL/COMMERCIAL_WEST_AREA/West_Area_Territory_Operation">West_Area_Territory_Operation</a></li> 
                        </ul>
                      </li> 
      
                            
                </ul>
              </li>
              <li>
                  <a href="/reports/Americas/US_OTHER">US_OTHER</a>
                  <ul class="menu">  
                    <li>       
                    <a href="/reports/Americas/US_OTHER/US_MISC">US_MISC</a>
                    <ul class="menu">
                        <li><a href="/reports/Americas/US_OTHER/US_MISC/US_Misc_-_Node_4">US_Misc_-_Node_4</a></li>
                    </ul>
                  </li> 
                  </ul>
                </li>
                <li>
                    <a href="/reports/Americas/US_PS_Market_Segment">US_PS_Market_Segment</a>
                    <ul class="menu"> 

                      <li>       
                      <a href="/reports/Americas/US_PS_Market_Segment/PS_FEDERAL_AREA">PS_FEDERAL_AREA</a>
                      <ul class="menu">
                          <li><a href="/reports/Americas/US_PS_Market_Segment/PS_FEDERAL_AREA/FED-AIR_FORCE_NAVY_OPERATION">FED-AIR_FORCE_NAVY_OPERATION</a></li>
                          <li><a href="/reports/Americas/US_PS_Market_Segment/PS_FEDERAL_AREA/FED-ARMY_DEFENSE_SOF_OPERATION">FED-ARMY_DEFENSE_SOF_OPERATION</a></li>
                          <li><a href="/reports/Americas/US_PS_Market_Segment/PS_FEDERAL_AREA/FED-CIVILIAN_OPERATION">FED-CIVILIAN_OPERATION</a></li>
                          <li><a href="/reports/Americas/US_PS_Market_Segment/PS_FEDERAL_AREA/FED-NATIONAL_SECURITY_OPERATION">FED-NATIONAL_SECURITY_OPERATION</a></li>
                      </ul>
                    </li>
                    
                    <li>       
                        <a href="/reports/Americas/US_PS_Market_Segment/SLED-East_Area">SLED-East_Area</a>
                        <ul class="menu">
                            <li><a href="/reports/Americas/US_PS_Market_Segment/SLED-East_Area/SLED-Centraleast_Operation">SLED-Centraleast_Operation</a></li>
                            <li><a href="/reports/Americas/US_PS_Market_Segment/SLED-East_Area/SLED-Northeast_Operation">SLED-Northeast_Operation</a></li>
                            <li><a href="/reports/Americas/US_PS_Market_Segment/SLED-East_Area/SLED-Southeast_Operation">SLED-Southeast_Operation</a></li>
                        </ul>
                      </li>
                      
                      <li>       
                          <a href="/reports/Americas/US_PS_Market_Segment/SLED-West_Area">SLED-West_Area</a>
                          <ul class="menu">
                              <li><a href="/reports/Americas/US_PS_Market_Segment/SLED-West_Area/SLED-Central_Operation">SLED-Central_Operation</a></li>
                              <li><a href="/reports/Americas/US_PS_Market_Segment/SLED-West_Area/SLED-Desert_Plains_Operation">SLED-Desert_Plains_Operation</a></li>
                              <li><a href="/reports/Americas/US_PS_Market_Segment/SLED-West_Area/SLED-Western_Operation">SLED-Western_Operation</a></li>
                          </ul>
                        </li>
                        
                        <li>       
                            <a href="/reports/Americas/US_PS_Market_Segment/US_Public_Sector_Misc">US_Public_Sector_Misc</a>
                            <ul class="menu">
                              <li><a href="/reports/Americas/US_PS_Market_Segment/US_Public_Sector_Misc/PS_Theater_Rebates">PS_Theater_Rebates</a></li>
                            </ul>
                          </li>
                          
                                
                    </ul>
                  </li>
          </ul>
        </li>
        </ul>
        </li>
        <li>
            <a href="#">Tools</a>
            <ul class="menu">
                <li><a href="/amlist">AM Customer List Tool</a></li>
                <li><a href="/aggsearch">Aggressive Search Tool</a></li>
                <li><a href="/realtime">Real Time Search Tool</a></li>
            </ul>
        </li>        
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
      </ul>
    </div>
  </div>   





<!--
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
    
    <li class="name">
    </li>
    
    <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
    <ul class="left">
    <li class="has-dropdown"><a href="#">Item 1</a>
    <ul class="dropdown">
    <li><label>Level One</label></li>
    <li><a href="#">Sub-item 1</a></li>
    <li><a href="#">Sub-item 2</a></li>
    <li class="divider"></li>
    <li><a href="#">Sub-item 3</a></li>
    <li class="has-dropdown"><a href="#">Sub-item 4</a>
    <ul class="dropdown">
    <li><label>Level Two</label></li>
    <li class="has-dropdown"><a href="#">Sub-item 1</a>
    <ul class="dropdown">
    <li><label>Level Three</label></li>
    <li class="has-dropdown"><a href="#">Sub-item 1</a>
    <ul class="dropdown">
    <li><label>Level Four</label></li>
    <li><a href="#">Sub-item 1</a></li>
    </ul>
    </li>
    <li><a href="#">Sub-item 2</a></li>
    <li><a href="#">Sub-item 3</a></li>
    <li class="divider"></li>
    <li><a href="#">Sub-item 4</a></li>
    </ul>
    </li>
    <li><a href="#">Sub-item 2</a></li>
    <li><a href="#">Sub-item 3</a></li>
    <li><a href="#">Sub-item 4</a>
    </ul>
    </li>
    <li><a href="#">Sub-item 5</a></li>
    </ul>
    </li>
    <li class="divider"></li>
    </ul>
    
    <ul class="right">
    <li class="divider"></li>
    <li><a href="#">Item 2</a></li>
    </ul>
    </section>
    </nav>
  -->